name: publish docker image
on:
  workflow_call:
    inputs:
      runner:
        description: What build agent to use
        type: string
        required: false
        default: 'ubuntu-latest'
      artifact-name:
        description: The name of the artifact
        type: string
        required: false
        default: 'artifact'
      container-registry:
        description: Container registry URL
        type: string
        required: true
        default: 'ghcr.io'
      docker-image-namespace:
        description: The namespace of the docker image
        type: string
        required: true
      docker-image-name:
        description: The name of the docker image
        type: string
        required: true
      container-registry-username:
        description: The username for the container registry
        type: string
        required: true
    secrets:
      container-registry-password:
        description: The password for the container registry
        required: true
jobs:
  publish-docker-image:
    name: Create and Publish Docker Image
    runs-on: ${{ inputs.runner }}
    outputs:
      docker-image: ${{ steps.meta.outputs.tags }}
    steps:
      - name: Download artifact
        uses: actions/download-artifact@v7
        with:
          name: ${{ inputs.artifact-name }}
      - name: Login to Container Registry
        if: github.event_name != 'pull_request'
        uses: docker/login-action@v3
        with:
          registry: ${{ inputs.container-registry }}
          username: ${{ inputs.container-registry-username }}
          password: ${{ secrets.container-registry-password }}
      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: |
            ${{ inputs.container-registry }}/${{ inputs.docker-image-namespace }}/${{ inputs.docker-image-name }}
          tags: |
            type=semver,pattern={{version}},value=${{ inputs.version }}
            type=semver,pattern={{major}}.{{minor}},value=${{ inputs.version }}
            type=semver,pattern={{major}},value=${{ inputs.version }}
            type=ref,event=branch,suffix=-{{ sha }}
            type=ref,event=pr
#          flavor: |
#            latest=auto
      - name: Build and push
        if: github.event_name != 'pull_request'
        uses: docker/build-push-action@v5
        with:
          file: './Dockerfile'
          context: .
          push: ${{ github.event_name != 'pull_request' }}
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}

